body{
    display: flex;
    flex-direction: column;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.header, .hero{
    background-color: #1f2937;
}



.header{
    display: flex;
    color: #efe7eb;
    font-size: 18px;
    justify-content: space-between;
    padding: 8px 10%;
    align-content: center;
}

.hero{
    display: flex;
    padding: 5% 10%;
    justify-content: space-between;
}

h1{
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 48px;
}
.signup{
    font-size: 18px;
    color: #e5e7eb;
    width: 33%;
}

.signup-img{
    color: #e5e7eb;
    width: 33%;
}